* {
  background-color:#dec1b1;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  min-height: 100vh; /* Se till att hela sidan tar upp hela fönstret */
  color: #462F20; /* Mörkbrun text */
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Gör att main växer och trycker ner footern */
}

/*Design för home page*/
.homePageHeader {
  text-align: center;
  margin-top: 2rem;
}

/*Design för meny*/
.menuOption {
  background:   #725046;
  color: #FFF8F0;
  margin: 10px;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuOption i {
  background-color: transparent !important;
  color: inherit;
  font-size: 18px;
}

.menuOption:hover {
  background-color: #462F20;
}

#menyOptions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

/*Design för affärsplans vy 1,2 & 3:*/
.affarsplan-container, .projektidé-container, .inspiration-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: hsla(0, 0%, 90%);
  margin-top: 2em;
}

.affarsplan-container h3, .projektidé-container h3, .inspiration-container h3 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  color: #462F20;
  text-align: center;
  margin-bottom: 20px;
  background-color: hsla(0, 0%, 90%);
}

.inspoImg {
  background-color: hsla(0, 0%, 90%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.inspoImg img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.affarsplan-container p, .projektidé-container p, .inspiration-container p {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #462F20;
  text-align: justify;
  background-color: hsla(0, 0%, 90%);
}

/*Design för header*/
#headerFont {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: 7px;
  margin-left: 7px;
}

#headerFont i {
  font-size: 0.9em;
  margin-right:15px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  position: relative;
}

/*Design för footer*/
footer {
  text-align: center;
  color: #462F20;
  padding: 10px 0;
  font-size: 14px;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #dec1b1;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.15);
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  margin: auto;
  padding: 5px 20px;
}

.footer-section {
  flex: 1;
  text-align: start;
  
}

.footer-section p {
  font-size: 14px;
  color: #462F20;
  line-height: 1.4;
}

.footer-section h2 {
  
  font-size: 16px;
  color: #462F20;
  margin-bottom: 5px;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
  color: #462F20;
  border-top: 1px solid #462F20;
}

/*design för skapa konto och logga in form*/
#spinningWheelLoading {
  margin-top: 20px;
  width: 24px;
  height: 24px;
  border-width: 3px;
  border: 5px solid #f4d7c4;
  border-top: 5px solid #462F20;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.accountCreatedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.formContainerLoginCreateAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: hsla(0, 0%, 90%);
  padding: 30px;
  margin: 40px auto;
  border-radius: 40px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  font-family: "Oswald", sans-serif;
}

.formContainerLoginCreateAccount input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
  border-color: #462F20;
  border: solid 2px;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  background-color: hsla(0, 0%, 90%);
  color: #462F20; /* Mörk text för input */
}

.formContainerLoginCreateAccount button {
  background-color: #725046;
  color: #ddd;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.formContainerLoginCreateAccount button:hover {
  background-color: #462F20;
}

.formContainerLoginCreateAccount label, .formContainerLoginCreateAccount h1 {
  background-color: hsla(0, 0%, 90%) !important;
}

.errorMessage {
  background-color: hsla(0, 0%, 90%);
  color: red;
}